security-app/security-ws-client/src/wsdl/macbookniroy.local_8081/security-app-web/SystemSecurityManager.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices.security.rdonasco.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservices.security.rdonasco.com/" name="SystemSecurityManager">
<types>
<xsd:schema>
<xsd:import namespace="http://webservices.security.rdonasco.com/" schemaLocation="http://macbookniroy.local:8081/security-app-web/SystemSecurityManager?xsd=1"/>
</xsd:schema>
</types>
<message name="logon">
<part name="parameters" element="tns:logon"/>
</message>
<message name="logonResponse">
<part name="parameters" element="tns:logonResponse"/>
</message>
<message name="SecurityAuthenticationException">
<part name="fault" element="tns:SecurityAuthenticationException"/>
</message>
<message name="checkUserCapability">
<part name="parameters" element="tns:checkUserCapability"/>
</message>
<message name="checkUserCapabilityResponse">
<part name="parameters" element="tns:checkUserCapabilityResponse"/>
</message>
<portType name="SystemSecurityManagerWebService">
<operation name="logon">
<input wsam:Action="http://webservices.security.rdonasco.com/SystemSecurityManagerWebService/logonRequest" message="tns:logon"/>
<output wsam:Action="http://webservices.security.rdonasco.com/SystemSecurityManagerWebService/logonResponse" message="tns:logonResponse"/>
<fault message="tns:SecurityAuthenticationException" name="SecurityAuthenticationException" wsam:Action="http://webservices.security.rdonasco.com/SystemSecurityManagerWebService/logon/Fault/SecurityAuthenticationException"/>
</operation>
<operation name="checkUserCapability">
<input wsam:Action="http://webservices.security.rdonasco.com/SystemSecurityManagerWebService/checkUserCapabilityRequest" message="tns:checkUserCapability"/>
<output wsam:Action="http://webservices.security.rdonasco.com/SystemSecurityManagerWebService/checkUserCapabilityResponse" message="tns:checkUserCapabilityResponse"/>
<fault message="tns:SecurityAuthenticationException" name="SecurityAuthenticationException" wsam:Action="http://webservices.security.rdonasco.com/SystemSecurityManagerWebService/checkUserCapability/Fault/SecurityAuthenticationException"/>
</operation>
</portType>
<binding name="SystemSecurityManagerWebServicePortBinding" type="tns:SystemSecurityManagerWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="logon">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SecurityAuthenticationException">
<soap:fault name="SecurityAuthenticationException" use="literal"/>
</fault>
</operation>
<operation name="checkUserCapability">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SecurityAuthenticationException">
<soap:fault name="SecurityAuthenticationException" use="literal"/>
</fault>
</operation>
</binding>
<service name="SystemSecurityManager">
<port name="SystemSecurityManagerWebServicePort" binding="tns:SystemSecurityManagerWebServicePortBinding">
<soap:address location="http://macbookniroy.local:8081/security-app-web/SystemSecurityManager"/>
</port>
</service>
</definitions>